<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        (ionFocus)="clearEmailError()"
      ></ion-input>
    </ion-item>
    <div
      *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
      class="error-message"
    >
      <p *ngIf="loginForm.get('email')?.errors?.['required']">
        Email is required.
      </p>
      <p *ngIf="loginForm.get('email')?.errors?.['email']">
        Please enter a valid email.
      </p>
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        (ionFocus)="clearPasswordError()"
      ></ion-input>
    </ion-item>
    <div
      *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
      class="error-message"
    >
      <p *ngIf="loginForm.get('password')?.errors?.['required']">
        Password is required.
      </p>
    </div>

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid"
      >Login</ion-button
    >

    <ion-row>
      <ion-col>
        <ion-button fill="clear" (click)="navigateToRegister()"
          >Don't have an account? Register</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
