<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ isEditMode ? 'Edit Song' : 'Add Song' }}</ion-title>
    <ion-buttons slot="start">
      <ion-icon
        slot="icon-only"
        routerLink="/tabs/playlist"
        name="arrow-back-circle-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-img">
    <div class="ion-margin">
      <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
        <ion-label>Title</ion-label>
        <ion-input formControlName="titre" type="text" class="custom-input"></ion-input>

        <ion-label>Artist</ion-label>
        <ion-input formControlName="artiste" type="text" class="custom-input"></ion-input>

        <ion-label>Category</ion-label>
        <ion-input formControlName="catégorie" type="text" class="custom-input"></ion-input>

        <ion-label>Release date</ion-label>
        <ion-input formControlName="réaliser" type="date" class="custom-input"></ion-input>

        <ion-button
          class="custom-button"
          [disabled]="songForm.invalid"
          expand="full"
          type="submit"
        >
          {{ isEditMode ? 'Update Song' : 'Add Song' }}
        </ion-button>

        <!-- Uncomment this for debugging the form values -->
        <!-- <pre>{{ songForm.value | json }}</pre> -->
      </form>
    </div>
  </div>
</ion-content>
