<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Add song </ion-title>
    <ion-buttons slot="start">
      <ion-icon
        slot="icon-only"
        routerLink="/playlist"
        name="arrow-back-circle-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-img">
    <div class="ion-margin">
      <form #f="ngForm">
        <ion-label>Title</ion-label>
        <ion-input ngModel required name="titre" type="text" class="custom-input"></ion-input>

        <ion-label>Artist</ion-label>
        <ion-input ngModel required name="artiste" type="text" class="custom-input"></ion-input>

        <ion-label>Category</ion-label>
        <ion-input ngModel name="catégorie" type="text" class="custom-input"></ion-input>

        <ion-label>Release date</ion-label>
        <ion-input ngModel required name="réaliser" type="date" class="custom-input"></ion-input>

        <ion-button
          class="custom-button"
          [disabled]="f.invalid"
          (click)="onSubmit(f.value)"
          type="submit"
          expand="full"
        >Add Song</ion-button>

        <!-- Uncomment this for debugging the form values -->
        <!-- <pre>{{ f.value | json }}</pre> -->
      </form>
    </div>
  </div>
</ion-content>
